*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #f3eae3;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
  margin: 0;
}

ol,
ul {
  list-style: non;
  padding: 0;
}

button {
  background: none;
  border: 0;
  font-family: inherit;
}
